// ios/Secrets.swift.example
// Copy this file to ios/Secrets.swift and modify the values.
struct Secrets {
    static let apSSID = "YOUR_OVERBYTE_AP_SSID_HERE"
    static let apPassword = "YOUR_OVERBYTE_AP_PASSWORD_HERE"
}
