// include/secrets.h.example
// Copy this file to include/secrets.h and change the values.
#pragma once

#define AP_SSID      "YOUR_OVERBYTE_AP_SSID_HERE"
#define AP_PASSWORD  "YOUR_OVERBYTE_AP_PASSWORD_HERE"
#define OTA_PASSWORD "YOUR_OTA_PASSWORD_HERE"
